body {
    background-color: #fafafa;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 30rem;
}


#op-button {
    width: 78px !important;
}

#answer {
    display: block !important;
}

#input {
    width: 400px !important;
    margin: auto;
    padding: 10px;
}